/*site created by slurb#2136*/
html {
    overflow: hidden;
}
table {
	display: flex;
	justify-content: center;
}
tbody {
    display: table-row-group;
}
tr {
	display: table-row;
	
}
th {
	display: table-cell;
	border: 1px solid #FFFFFF;
	padding: 3em;
}
p {
    text-align: center;	
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: black;
	margin: 0px;
	display: inline-block;
}

.footer-child {
	display: inline-block;
	font-size: small;
	white-space: nowrap;
	text-overflow: none;
	margin-top: 1px;
	margin-bottom: 1px;
}

#footer2 {
	text-align: right;
	width: 50%;
}
#footer {
	width: 49%;
    text-align: left;
}

#background-grad {
    background-image: -webkit-linear-gradient(34deg,rgba(0,0,0,1.00) 0%,rgba(219,30,30,1.00) 100%);
    background-image: -moz-linear-gradient(34deg,rgba(0,0,0,1.00) 0%,rgba(219,30,30,1.00) 100%);
    background-image: -o-linear-gradient(34deg,rgba(0,0,0,1.00) 0%,rgba(219,30,30,1.00) 100%);
    background-image: linear-gradient(56deg,rgba(0,0,0,1.00) 0%,rgba(219,30,30,1.00) 100%);
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    padding: 0px;
    margin: 0;
    background-repeat: no-repeat;
}

div.background {
    margin: 0px;
    background-image: url(imgs/stripes.svg);
    background-repeat: repeat;
    min-height: 1000px;
    max-height: 100%;
    opacity: 0.21;
    background-position: 0px;
}

.nav-bar {
    width: 100%;
    background-color: black;
    position: fixed;
	top: 1;
	padding: 0;
}

.nav-child {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in 0s;
    -o-transition: all 200ms ease-in 0s;
    transition: all 200ms ease-in-out 0s;
	border-bottom: 0px solid #AE0000;
}
h1, h2, h3, h4, p, th {
    font-family: source-code-pro;
    font-style: normal;
    font-weight: 100;
    color: hsla(0,0%,87%,1.00);
    text-align: center;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 13px;
	
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-box {
    padding: 2em 0em;
    max-width: 65%;
    background-color: hsla(0,0%,0%,0.89);
    border-radius: 9px;
    margin-top: 15px;
}
@media (max-width: 470px){
    .login-box {
        width: 95%;  
		max-height: 1000px;
    }
    h1, h2, h3, h4, p, th {
       
    }
	th {
		padding: 1.5em 0px;
	}
	p.login-box {
		white-space: normal
	}
	#footer {
		visibility: hidden;
		width: 0px;
	}
	#footer2 {
		text-align: left;
	}
}
.nav-child:hover {
    border-bottom: thick solid #AE0000;
	
}

@media (min-width: 471px) and (max-width: 1050px){
	th {
		padding: 2em 1em;
	}
	.login-box {
		width: 90%;
	}
	
}

@media (max-height:700px) {
	
}
