/*site created by slurb#2136*/
html {
    overflow: hidden;
}

p {
    text-align: center;	
}

table {
    border: 1px solid white;
    border-radius: 3px;
    border-collapse: collapse;
    padding: 15px;
    
}
th {
    border: 1px solid white;
    padding: 10px;
    padding-top: auto;
    font-weight: 500;
    font-size: medium;
    line-height: 29px;
}
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: black;
	margin: 0px;
	display: inline-block;
}

.footer-child {
	display: inline-block;
	font-size: small;
	white-space: nowrap;
	text-overflow: none;
	margin-top: 1px;
	margin-bottom: 1px;
}

#footer2 {
	text-align: right;
	width: 50%;
}
#footer {
	width: 49%;
    text-align: left;
}

#background-grad {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    padding: 0px;
    margin: 0;
    background-repeat: no-repeat;
}

div.background {
    margin: 0px;
    background-image: url("imgs/lined-paperAsset 3.svg");
    background-size: 199px;
    background-repeat: repeat;
    min-height: 2000px;
    max-height: 100%;
    opacity: 0.84;
    background-position: 0px;
}
.nav-bar {
    width: 100%;
    background-color: black;
    position: fixed;
	top: 1;
	padding: 0;
}
.paper-lines {
    width: 100px;
    height: 2000px;
    position: fixed;
    background-image: url("imgs/red-line.svg");
    background-repeat: repeat-y;
}


.nav-child {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in 0s;
    -o-transition: all 200ms ease-in 0s;
    transition: all 200ms ease-in-out 0s;
	border-bottom: 0px solid #AE0000;
}
h1, h2, h3, h4, p, th {
    font-family: source-code-pro;
    font-style: 100;
    font-weight: 200;
    color: hsla(0,0%,87%,1.00);
    text-align: center;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 13px;
	
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-box {
    padding: 2em;
    
    background-color: hsla(0,0%,0%,0.89);
    border-radius: 9px;
    margin-top: 0px;
}
.login-box-child {
	margin: 0px 1px;
}
@media (max-width: 470px){
    div.login-box {
        width: 65%;  
		max-height: 1000px;
    }
    h1, h2, h3, h4, p {
       
    }
	
	p.login-box {
		white-space: normal
	}
	#footer {
		visibility: hidden;
		width: 0px;
	}
	#footer2 {
		text-align: left;
	}
}
.nav-child:hover {
    border-bottom: thick solid #AE0000;
	
}
